<nav>
  <ul>
    <li><a routerLink="/">Accueil</a></li>
    <li *ngIf="isLogged"><a routerLink="programme">Programmes</a></li>
    <li *ngIf="isLogged"><a routerLink="modules">Modules</a></li>
    <li *ngIf="isLogged"><a routerLink="/about">Contacts</a></li>
    <li><a routerLink="/about">Langues</a></li>
  </ul>
  <button *ngIf="!isLogged" ><a style="color: white" href="login">Connexion</a></button>
  <button *ngIf="isLogged" ><a style="color: white" href="login">Deconnexion </a></button>
</nav>
