<div class="row">
  <div class="col-6 offset-3" style="margin-top: 150px">
    <div  id="g_id_onload"
          data-client_id="657403735836-b6um1ucm1dsi975esd5e7vlr3n00g2lp.apps.googleusercontent.com"
          data-context="signin"
          data-ux_mode="popup"
          data-callback="handleCredentialResponse"
          data-nonce=""
          data-auto_prompt="false">
    </div>

    <div class="g_id_signin"
         data-type="standard"
         data-shape="rectangular"
         data-theme="outline"
         data-text="signin_with"
         data-size="large"
         data-logo_alignment="left">
    </div>
  </div>
</div>
