<div class="container">
    <h1>Processus de developpement</h1>
    <h3>Etudiants</h3>
    <table class="table-bordered" style="margin-top: 50px">
        <tr>
            <td>Ange-Pavel ISHIMWE</td>
        </tr>
        <tr>
            <td>Mariame KABA</td>
        </tr>
        <tr>
            <td>Thierno BARRY</td>
        </tr>
        <tr>
            <td>Thierno DIALLO</td>
        </tr>
    </table>
    <p style="margin-top: 5px" class="center"><a href="login">Connectez vous avec votre compte google</a></p>
</div>