<div class="container">
    <p *ngIf="!send">
        Vous êtes connecté en tant que : {{ fullName }}
    </p>
    <div class="row" *ngIf="!send && show">

        <div class="col-6">
            <form [formGroup]="lienForm" (ngSubmit)="onSubmit(lienForm)" >
                <input formControlName="lien" id="lien" placeholder="Saisir le lien google sheet" class="form-control" type="text" name="lienApi"><br/>
                <input type="submit"  class="btn btn-secondary" value="Enregistrer">
            </form>
        </div>

    </div>
    <div class="col-12" *ngIf="send" style="margin-top: 50px">
        <div class="col-6 offset-3">
            <h4>Bonjour {{ fullName }}</h4>
            <h5>Voici la liste des programmes auxquels vous avez accès</h5>
        </div>
        <div class = "row">
            <div *ngFor="let programme of programmes"  class = "col-sm-6 col-md-4"  (click)="showModules(programme.lien)">
              <div style="margin: 1px" class="card">
                  <div class = "thumbnail" style="margin: 2px" >
                      <img width="250" height="250" src ="{{programme.logo}}" alt = "Generic placeholder thumbnail">
                  </div>
                  <div class = "caption" style="margin: 5px">
                      <h3>{{programme.entreprise}}</h3>
                      <p>{{programme.programme}}</p>

                      <p>
                          <a  (click)="showModules(programme.lien)"  class = "btn btn-primary" role = "button">
                              Voir les modules
                          </a>
                      </p>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>





